<div id="small_goal_form">
  <h1>Let's Set Small Goals</h1>
  <%= form_with(model:@small_goal, url: goal_small_goals_path(@goal) ) do |f| %>
  <div id="error_explanation">
    <%= render 'shared/error_messages', object: @small_goal %>
  </div>

    <%= f.label :title, "Small Goal's Title" %>
    <%= f.text_field :title, class: 'small_goal-title' %>

    <%= f.fields_for :tasks do |task_fields| %>
      <%= task_fields.label :content, "Task" %>
      <%= task_fields.text_field :content, class: 'small_goal-task' %>
    <% end %>

    <div id="tasks-container">
      <!-- 新しいタスクの入力欄がここに追加される -->
    </div>

    <button type="button" id="add-task">Taskの追加</button>
    <button type="button" id="remove-task">Taskの削除</button>

    <%= f.label :difficulty %>
    <%= f.select :difficulty, options_for_select([["ものすごく簡単"], ["簡単"], ["普通"], ["難しい"], ["とても難しい"]]), { include_blank: "選択して下さい" }, { class: 'small_goal-difficulty' } %>

    <%= f.label :deadline %>
    <%= f.date_field :deadline, class: 'small_goal-deadline' %>

    <%= f.submit "設定", class: "btn btn-primary" %>
    <%= link_to "Back", goal_path(@goal), class: "btn btn-primary"%>
  <% end %>
</div>