<h1>Welcome to your dashboard</h1>

<p>Here's some information about your account:</p>

<ul>
  <li>Name: <%= current_user.name %></li>
</ul>

<h2>Your EXP: <%= @current_user.total_exp %></h2>
<h2>Your Rank: <%= @current_user.calculate_rank %></h2>

<p>Here are your recent activities:</p>

<% latest_completed_goal = @small_goals.select { |goal| goal.completed && goal.completed_time }.max_by(&:completed_time) %>


<% if latest_completed_goal && latest_completed_goal.completed_time > 5.hours.ago %>
  <div data-small-goal-id="<%= latest_completed_goal.id %>" class="small-goal">
    <%= latest_completed_goal.title %>
    <span>完了!</span>
    <%= latest_completed_goal.completed_time.strftime("%Y-%m-%d %H:%M") %>
  </div>
<% end %>

<div>
  <div class="pg-container">
    <div class="dashboard-container">
      <%= link_to "Set Goal!", new_goal_path, class: "btn btn-primary" %>
      <%= link_to "Your Goals", goals_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

