<h1>Welcome to your dashboard</h1>

<p>Here's some information about your account:</p>

<ul>
  <li>Name: <%= current_user.name %></li>
  <%#<li>Email: <%= current_user.email %></li>
</ul>

<p>Here are your recent activities:</p>

<% @small_goals.each do |small_goal| %>
  <div data-small-goal-id="<%= small_goal.id %>" class="small-goal">
  <% if small_goal.completed %>
    <%= small_goal.title %>
      <span>完了!</span>
  <% end %>
  </div>
<% end %>

<div>
  <div class="pg-container">
    <div class="dashboard-container">
      <%= link_to "Set Goal!", new_goal_path, class: "btn btn-primary" %>
      <%= link_to "Your Goals", goals_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>