<h1>Let's Edit Goals</h1>
<%= form_with(model: @goal) do |f| %>

  <%= f.label :title, "Goal's Title" %>
  <%= f.text_field :title, class: "goal-title" %>

  <%= f.label :content %>
  <%= f.text_field :content, class: "goal-content" %>

  <%= f.label :deadline %>
  <%= f.date_field :deadline, class: "goal-deadline" %>
  
  <%= f.submit "Update Goal", class: "btn btn-primary" %>
  <%= link_to "Back", goal_path(@goal), class: "btn btn-primary" %>
<% end %>