<h1><%= @goal.title   %></h1>
<p> <%= @goal.content %></p>

<p>Deadline: <%= @goal.deadline %></p>

<h2>Small Goals</h2>

<% @small_goals.each do |small_goal| %>
  <div data-small-goal-id="<%= small_goal.id %>" class="small-goal">
    <h3><%= small_goal.title %></h3>
    <div class="small-goal-complete-button" style="display: none;">
      <%= button_tag "完了", type: "button", class: "complete-button", data: { small_goal_id: small_goal.id } %>
    </div>
    <p>Difficulty: <%= small_goal.difficulty %></p>
    <p>Deadline: <%= small_goal.deadline.strftime("%Y-%m-%d") %></p>
    <ul>
      <% small_goal.tasks.each do |task| %>
        <li>
          <%= check_box_tag "tasks[#{task.id}][completed]", task.id, task.completed, class: "task-checkbox", data: { small_goal_id: small_goal.id } %>
          <%= task.content %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= link_to "Edit Goal", edit_goal_path(@goal), data: { turbo_method: "get" } %>
<%= link_to "Delete Goal", goal_path(@goal), data: { turbo_method: "delete", turbo_confirm: "Are You Sure?" } %>

<%= link_to "New Small Goal", new_goal_small_goal_path(@goal), class: "btn btn-primary" %>
<%= link_to "Back", goals_path, class: "btn btn-primary" %>