<h1><%= @goal.title   %></h1>
<p> <%= @goal.content %></p>

<p>Difficulty: <%= @goal.difficulty %></p>
<p>Deadline: <%= @goal.deadline %></p>

<h2>Small Goals</h2>
<ul>
  <% @small_goals.each do |small_goal| %>
    <li>
      <%= small_goal.title %>
      <%= link_to "Edit small goals", edit_goal_small_goal_path(@goal, small_goal), data: { turbo_method: "get" } %>

      <h3>Tasks</h3>
      <ul>
        <% small_goal.tasks.each do |task| %>
          <li><%= task.content %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to "Edit Goal", edit_goal_path(@goal), data: { turbo_method: "get" } %>
<%= link_to "Delete Goal", goal_path(@goal), data: { turbo_method: "delete", turbo_confirm: "Are You Sure?" } %>

<%= link_to "New Small Goal", new_goal_small_goal_path(@goal), class: "btn btn-primary" %>
<%= link_to "Back", goals_path, class: "btn btn-primary" %>