<h1>Edit your Roulette</h1>

<h2>Number of tickets: <%= current_user.tickets %></h2>

<%# 編集用のフォーム %>
<div id="edit-roulette-text-form" style="display: none;">
  <%= form_with(model: @roulette_text, method: :patch) do |f| %>
    <%= select_tag :number, options_for_select((1..12).to_a), include_blank: true %>
    <%= f.text_field :text, class: "roulette-text" , value: "" %>
    <%= f.submit "Save Changes" %>
  <% end %>
</div>


<%# チケットを使って編集するボタン %>
<% if current_user.tickets > 0 %>
  <%= button_tag "Edit text using tickets", type: "button", id: "edit-text-button", class: "btn btn-primary" %>
<% else %>
  <%= button_tag "Edit text using tickets", type: "button", id: "edit-text-button", class: "btn btn-primary", disabled: true %>
<% end %>

<% RouletteText.all.each do |roulette_text| %>
  <div class="<%= 'changed' if flash[:changed_roulette_text_id] == roulette_text.id %>">
    Number: <%= roulette_text.number %>, Text: <%= roulette_text.text %>
  </div>
<% end %>
