<!DOCTYPE html>
<html>
  <head>
    <title>Plus ONE</title>
    <%# レスポンシブデザインに対応 %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%# CSRF攻撃を防ぐ %>
    <%= csrf_meta_tags %>
    <%# クロスサイトスクリプティング（XSS）などの特定の種類の攻撃を防ぐためのブラウザの機能 %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="turbolinks-visit-control" content="reload"> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <%# header用のパーシャル %>
    <%= render 'layouts/header' %>
    <%# containerがmainの役割をしてる %>
    <div class="main">
      <div id="dashbord">
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%#<% if user_signed_in? %>
          <!-- ログイン後のコード -->
          <%#<%= render 'path_to_logged_in_template' %>
        <%#<% else %>
          <!-- ログイン前のコード -->
          <%= yield%>
          <%#<%= render 'path_to_logged_out_template' %>
          <%#<% end %>
        <div>
          <div class="pg-container">
            <div class="dashboard-container">
            </div>
          </div>
         </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>